<!--
<!DOCTYPE html>
<html ng-app='MyFirstApp'>

<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <style>
    body {
      font-size: 1.5em;
    }
  </style>
  <title> My First angular App</title>
</head>

<body>
  <h1>My First angular app</h1>

  <div ng-controller='MyFirstController'>
     {{sayhello()}} &nbsp;{{name}}  &nbsp; 
     <input type="text"  ng-model='name'>
     Inside My Name is: {{name}}
  </div>
</body>

</html>
-->

<!--
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body { font-size: 1.3em; }</style>
    <title>Name Calculator</title>
  </head>
  <body ng-app="NameCalculator">
    <h1>Name Calculator</h1>
    <div ng-controller="NameCalculatorController">
      <div>
        Your name:
        <input type="text"
          ng-model="name"
          ng-keyup="displayNumeric();">
      </div>
      <div>Total Numeric value of person's name is: {{totalValue}}</div>
    </div>
  </body>
</html>

-->

<!--Dependancy Injection-->
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>body { font-size: 1.3em; }</style>
    <title>--Dependancy Injection--</title>
  </head>
<body ng-app='DiApp'>
  <center>
  <div ng-controller='DiController'>
    <input type="text" ng-model='name' ng-blur='upper();'>
    <h2>{{name | uppercase}} Likes To Eat Healthy Snacks
    <br>
    
    </h2>
  
  <div >
    <button ng-click='feedParas()'>Feed Paras</button>
    Cost: {{cookie | currency : 'Rs' : 4}}
    <br>
    <img ng-src='images/{{stateOfBeing}}.png'>
  </div>

</div>
</center>
</body>
</html>
 -->
<!--End Week 1-->



 <!--Week 2-->




 <!--Custom filters-->
<!--
 <!DOCTYPE html>
<html ng-app='MsgApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Custom Filters</title>
  </head>
  <body>
    <h1>Custom Filters</h1>
    <div ng-controller='MsgController'>
      Original: {{sayMessage()}} <br>
      Loves: {{ sayLovesMessage() }} <br>
      Truth: {{ sayLovesMessage() | truth : 'healthy' : 'cookie' }} <br>
      BIG TRUTH: {{ sayLovesMessage() | truth : 'healthy' : 'cookie' | uppercase }}
      <div>
        <button ng-click="feedYaakov()">Feed Yaakov</button>
        <br>

        <img ng-src="images/{{stateOfBeing}}.png">
      </div>
    </div>
  </body>
</html>

-->



<!--  $digest and $apply 
<!DOCTYPE html>
<html ng-app='CounterApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>The Digest Cycle</title>
  </head>
  <body>
    <h1>The Digest Cycle</h1>
    <div ng-controller='CounterController'>
      <div>
        <button ng-click="upCounter()">Increment Counter</button>
      </div>
      <div>
        Regular counter: {{ counter }}
      </div>
    </div>
  </body>
</html>


-->


<!-- 2-way 1-way 1-time bounding -->
<!--
<!DOCTYPE html>
<html ng-app='BindingApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>2-way, 1-way, and 1-time binding</title>
  </head>
  <body>
    <h1>2-way, 1-way, and 1-time binding</h1>
    <div ng-controller='BindingController'>

      <button ng-click="setFullName()">Set Full Name</button><br>

      Full name is: {{ :: fullName }} <br>
      <button ng-click="logFirstName()">Log First Name</button><br>
      <button ng-click="logFullName()">Log Full Name</button><br>

      <div>
        <input type="text" ng-model="firstName">
      </div>
    </div>
  </body>
</html>
-->

<!-- ng-repeat -->
<!--
    <!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller='ShoppingListController'>-->
      <!-- Shopping List #1: -->
     <!-- <h3>Shopping List:</h3>
       <ul>
        <li ng-repeat="item in shoppingList1">{{ item }}</li>
      </ul> -->

      <!-- Shopping List #2: -->
      <!-- <ul>
        <li ng-repeat="item in shoppingList2">Buy {{item.quantity}} of {{item.name}}(s)</li>
      </ul>  -->

      <!--Shopping List #3: -->
<!--
     <input type="text" ng-model="shoppingList2[0].quantity">
      <input type="text" ng-model="search">
      <ul>
        <li ng-repeat="item in shoppingList2 | filter : search">{{$index + 1}}. Buy {{item.quantity}} of {{item.name}}(s)</li>
      </ul>
      <input type="text" ng-model="newItemName" placeholder="item name">
      <input type="text" ng-model="newItemQuantity" placeholder="item quantity">
      <button ng-click="addToList()">Add To List</button> 

    </div>
  </body>
</html>-->  

<!--
<!doctype html>
<html lang="en" ng-app='LunchCheck'>
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; 
      }
      .hell{
        color:steelblue;
      }
    </style>
  </head>
<body >
   <div class="container" ng-controller='LunchBox'>
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch "
             class="form-control" ng-model='name'>
         </div>
         <div class="form-group">
             <button ng-click='LuchCheckBox();' class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-model='message'>
             Your message can go here. 
           <h3 class='hell'> {{message | uppercase}} </h3>
         </div>
   </div>

</body>
</html>
-->

<!--Controller As a Syntax-->
<!--
<!DOCTYPE html>
<html ng-app='ControllerAsApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Controller As Syntax</title>
  </head>
  <body>
    <h1>Controller As Syntax</h1>
    <div ng-controller='ParentController1'>
      <div ng-controller='ChildController1'>
      </div>
    </div>

    <div ng-controller='ParentController2 as parent'>
      Parent value: {{ parent.value }}

      <div ng-controller='ChildController2 as child'>
        Child value: {{ child.value }}
        Parent value: {{ parent.value }}
      </div>
    </div>

    </body>
  </html>
  -->


  <!--Custom Services-->

  <!--
  <!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service</h1>
    <div ng-controller='ShoppingListAddController as itemAdder'>
      <input type="text" ng-model="itemAdder.itemName" placeholder="item name">
      <input type="text" ng-model="itemAdder.itemQuantity" placeholder="quantity">
      <button ng-click="itemAdder.addItem();">Add Item To Shopping List</button>
    </div>

    <div ng-controller='ShoppingListShowController as showList'>
      <ol>
        <li ng-repeat="item in showList.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="showList.removeItem($index);">Remove Item</button>
        </li>
      </ol>
    </div>
  </body>
</html>
-->

<!-- Ex of Custom Factory -->

<!--
<!DOCTYPE html>
<html ng-app='ControllerAsApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service Through a Factory</h1>

     LIST #1 - unlimited items 
    <div id="list1" ng-controller='ShoppingListController1 as list1'>
      <h3>Shopping List #1</h3>
      <input type="text" ng-model="list1.itemName" placeholder="item name">
      <input type="text" ng-model="list1.itemQuantity" placeholder="quantity">
      <button class="btn btn-info" ng-click="list1.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list1.items">
          {{ item.quantity }} of {{ item.name }}
          <button class="btn btn-danger" ng-click="list1.removeItem($index);">Remove Item</button>
        </li>
      </ol>
      <div class="error">Error: {{list1.errorMessage}}</div>
    </div>

    LIST #2 (limited to 3 items) 
    <div id="list2" ng-controller='ShoppingListController2 as list2'>
      <h3>Shopping List #2 (limited to 3 items)</h3>
      <input type="text" ng-model="list2.itemName" placeholder="item name">
      <input type="text" ng-model="list2.itemQuantity" placeholder="quantity">
      <button class="btn btn-info" ng-click="list2.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list2.items">
          {{ item.quantity }} of {{ item.name }}
          <button class="btn btn-danger" ng-click="list2.removeItem($index);">Remove Item</button>
        </li>
      </ol>
      <div class="error">Error: {{list2.errorMessage}}</div>
        <div ng-if="lis2t.errorMessage" class="error">Error: {{list.errorMessage}}</div> 
       <div ng-show="list2.errorMessage" class="error">Error: {{list.errorMessage}}</div> 
      <div ng-hide="!list2.errorMessage" class="error">Error: {{list.errorMessage}}</div>
    </div>

  </body>
</html>
-->

<!--. Provider -->
<!--
<!DOCTYPE html>
<html ng-app='ShoppingListApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Custom Service Through a Provider</title>
  </head>
  <body>
    <h1>Custom Service Through a Provider</h1>

    <!-- Preconfigured List -->
    <div id="list" ng-controller='ShoppingListController as list'>
      <h3>Shopping List</h3>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
      <button ng-click="list.addItem();">Add Item</button>
      <ol>
        <li ng-repeat="item in list.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="list.removeItem($index);">Remove Item</button>
        </li>
      </ol>
      <div class="error">Error: {{list.errorMessage}}</div>
    </div>

  </body>
</html>
-->